<div id="body">
<div id="login">
	<h3 class="text-center text-white pt-5">Login</h3>
	<div class="container">
		<div id="login-row" class="row justify-content-center align-items-center">
			<div id="login-column" class="col-md-6">
				<div id="login-box" class="col-md-12">
					<form id="login-form" class="form" [formGroup]="loginForm" (ngSubmit)="loginBtn()">
						<h3 class="text-center text-info">Login</h3>
						<div class="form-group">
							<label for="email" class="text-info">Email:</label><br>
							<input type="email" name="email" id="email" class="form-control"
							formControlName="email"
							[ngClass]="{'is-invalid':loginForm.controls['email']?.errors, 'is-valid':!loginForm.controls['email']?.errors}">
							<div class="invalid-feedback" *ngIf="loginForm.controls['email']?.errors?.required" >
								An email is required
							</div>
							<div class="invalid-feedback" *ngIf="loginForm.controls['email']?.errors?.email" >
								A valid email is required
							</div>
						</div>
						<div class="form-group">
							<label for="password" class="text-info">Password:</label><br>
							<input type="password" name="password" id="password" 
							formControlName="password" class="form-control"
							[ngClass]="{'is-invalid':loginForm.controls['password']?.errors}">
							<div class="invalid-feedback" *ngIf="loginForm.controls['password']?.errors?.required" >
								Password is required
							</div>
							<div class="invalid-feedback" *ngIf="loginForm.controls['password']?.errors?.password" >
								A valid password is required
							</div>
						</div>
						<div class="form-group">
							<label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
							<input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
						</div>
						<div id="register-link" class="text-right">
							<a routerLink="/register" class="text-info">Register here</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</div>