<h1 mat-dialog-title>Hi {{data.user.firstName}}</h1>
<div mat-dialog-content>
  <p>What's your favorite animal?</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.user.email">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="data.user.firstName">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="data.user.lastName">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.user" cdkFocusInitial>Ok</button>
</div>