<div class="body">
<div id="register">
  <h3 class="text-center text-white pt-5">register form</h3>
  <div class="container">
      <div id="register-row" class="row justify-content-center align-items-center">
          <div id="register-column" class="col-md-6">
              <div id="register-box" class="col-md-12">
                  <form id="register-form" class="form" [formGroup]="registerForm" (ngSubmit)="rBtn()">
                      <h3 class="text-center text-primary">register</h3>
                      <div class="form-group">
                          <label for="firstname" class="text-primary">Firstname:</label><br>
                          <input type="text" name="firstname" id="firstname" class="form-control"
                          formControlName="firstname">
                      </div>
                      <div class="form-group">
                          <label for="lastname" class="text-primary">Lastname:</label><br>
                          <input type="lastname" name="lastname" id="lastname" class="form-control"
                          formControlName="lastname">
                      </div>
                      <div class="form-group">
                          <label for="email" class="text-primary">Email:</label><br>
                          <input type="email" name="email" id="email" class="form-control"
                          formControlName="email">
                      </div>
                      <div class="form-group">
                          <label for="password" class="text-primary">Password:</label><br>
                          <input type="password" name="password" id="password" class="form-control"
                          formControlName="password">
                      </div>

                      <div class="form-group">
                        <label for="remember-me" class="text-primary"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col">
                            <input type="submit" name="submit" class="btn btn-info btn-md text-left" value="submit">
                          </div>
                          <div class="col text-right ">
                              <a href="#" class="text-primary text-right">Register here</a>
                          </div>
                        </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
</div>

